{% block file_widget %}
{% spaceless %}
	{% set type = type|default('file') %}
	<div class="{{ horizontal_input_wrapper_class }}">
		{% if widget_addon_prepend|default(null) is not null %}
			{% set widget_addon = widget_addon_prepend %}
			{{ block('widget_addon') }}
		{% endif %}
		<input type="{{ type }}" {{ block('widget_attributes') }}/>
		{% if type != 'hidden' and  widget_addon.type|default(null) is not null %}
			{% if widget_addon_append|default(null) is not null %}
				{% set widget_addon = widget_addon_append %}
				{{ block('widget_addon') }}
			{% endif %}
		{% endif %}
	</div>
	{% if file_path is defined and file_path != '' %}
	<script type="text/javascript">
		// prevent js error if element is not present
		if(jQuery('#{{ id }}').length > 0) {
			jQuery('#{{ id }}').fileinput( {
				'initialPreview' : '<img src="{{ file_path }}" style="width:200px" />',
				'showUpload':false,
				'previewFileType':'any'
			});
		}
	</script>
	{% endif %}
{% endspaceless %}
{% endblock file_widget %}

{% block bruery_slider_widget %}
    {% spaceless %}
		<div class="slider-outer-container">
		<input type="text"
			   class="slider form-control"
			   data-slider-handle="{{ configs.handle }}"
			   data-slider-min="{{ configs.min }}"
			   data-slider-max="{{ configs.max }}"
			   data-slider-step="{{ configs.step }}"
			   data-slider-value="[{{ configs.sliderValue }}]"
			   data-slider-orientation="{{ configs.orientation }}"
			   data-slider-selection="{{ configs.selection }}"
			   data-slider-tooltip="show"
			   {% if configs.ticks %}
			   data-slider-ticks="[{{ configs.ticks }}]"
			   		{% if configs.ticksLabels %}
				   data-slider-ticks-labels='[{{ configs.ticksLabels }}]'
                    {% endif %}
                   {% if configs.ticksSnapBounds %}
					   data-slider-ticks-snap-bounds="{{ configs.ticksSnapBounds }}"
                   {% endif %}
			   {% endif %}
			   data-slider-id="{{ configs.sliderSelectionColor }}"
                {{ block('widget_attributes') }}>
		</div>
    {% endspaceless %}
{% endblock bruery_slider_widget %}